@import url("https://fonts.cdnfonts.com/css/larke-neue");

* {
  margin: 0;
  font-family: "Larke Neue Thin", "Roboto", "Arial", sans-serif;
  color: #333;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: none;
  margin: 0 auto;
  height: 5em;
  width: 80%;
  border-bottom: 1px solid #b9b9b9;
}
.navbar .logo {
  margin-left: 0;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}